name: Multiple-Job-Workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo "Building the project!!!"
  deploy:
    runs-on: windows-latest
    steps:
      - name: Deploy job
        run: echo "Deploy the project!!!"
